# XGBoost with carbon and silicon isotopes
## Add prediction analysis

In [11]:
# Imports
import joblib
import numpy as np
import pandas as pd

from numpy import loadtxt
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier

## Read the CSV

In [3]:
# load data
#dataset = loadtxt('presolargrains_C_only.csv', delimiter=",")
# Read csv file
C_Si = pd.read_csv('presolargrains_C_Si2.csv')
C_Si.head()

  Type  carbon_isotopes  silicon_29_28  silicon_30_28
0    C            1.300          313.0          377.0
1   AB            1.420          -59.0           19.0
2   AB            1.854            8.0           56.0
3   AB            1.880           20.0           33.0
4   AB            1.910            9.0          103.0

## Train Test Split

In [4]:
# split data into X and y
X = C_Si.loc[::1,'carbon_12_13':'silicon_30_28']
y = C_Si['Type']
print(X)

       carbon_isotopes  silicon_29_28  silicon_30_28
0                1.300         313.00         377.00
1                1.420         -59.00          19.00
2                1.854           8.00          56.00
3                1.880          20.00          33.00
4                1.910           9.00         103.00
5                1.940           9.00          31.00
6                1.960          21.00          31.00
7                2.040         -11.00          17.00
8                2.070          20.00          32.00
9                2.098         -37.00         -39.00
10               2.150          85.00          71.00
11               2.192           4.00          55.00
12               2.200         124.00         191.00
13               2.220          17.00          39.00
14               2.220           0.00          40.00
15               2.300         -44.30          49.40
16               2.290          57.00         164.00
17               2.310           2.00          28.00
18               2.328          37.00          89.00
19               2.340          -3.00           5.00
20               2.350          64.00          29.00
21               2.350          79.00          75.00
22               2.360         -28.00           7.00
23               2.370         -32.51         -19.50
24               2.370          23.00          29.00
25               2.410         -41.00          -5.00
26               2.450          45.00          47.00
27               2.460         -20.00          -3.00
28               2.500          49.00          70.40
29               2.510         -49.00         -43.00
...                ...            ...            ...
14393         1272.000        -456.00        -496.00
14394         1299.530        -335.00        -647.14
14395         1357.410        -334.50        -461.88
14396         1413.000        -353.00        -496.00
14397         1453.100        -303.00        -438.00
14398         1510.100        -480.00        -363.00
14399         1528.000        -450.00        -348.00
14400         1549.520        -381.00        -589.00
14401         1581.000        -684.00        -490.00
14402         1621.000        -476.00        -519.00
14403         1693.890        -588.00        -605.00
14404         1721.000        -404.00        -508.00
14405         1848.000        -540.00        -308.00
14406         1877.000        -215.00        -530.00
14407         1980.800        -331.70        -463.00
14408         2224.000        -350.00        -691.00
14409         2234.300        -345.00        -668.00
14410         2377.190        -555.00        -694.00
14411         2509.690        -337.00        -582.00
14412         2525.000        -363.00        -529.00
14413         2730.000        -645.00        -612.00
14414         2807.000        -578.00        -468.00
14415         2882.400        -366.00        -705.00
14416         3101.020        -521.00        -467.00
14417         3290.100        1608.00        1283.00
14418         3993.460        -355.00        -557.00
14419         4250.000        -173.00        -338.00
14420         6227.000        -441.00        -430.00
14421         6793.000        -286.00        -630.00
14422         9455.100        -569.00        -647.00

[14423 rows x 3 columns]

In [5]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

## Fit model

In [6]:
# fit model
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints=None,
       learning_rate=0.300000012, max_delta_step=0, max_depth=6,
       min_child_weight=1, missing=nan, monotone_constraints=None,
       n_estimators=100, n_jobs=0, num_parallel_tree=1,
       objective='multi:softprob', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=None, subsample=1, tree_method=None,
       validate_parameters=False, verbosity=None)

## Print model

In [7]:
# Print model
print(model)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints=None,
       learning_rate=0.300000012, max_delta_step=0, max_depth=6,
       min_child_weight=1, missing=nan, monotone_constraints=None,
       n_estimators=100, n_jobs=0, num_parallel_tree=1,
       objective='multi:softprob', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=None, subsample=1, tree_method=None,
       validate_parameters=False, verbosity=None)

## Compare predictions to actual

In [8]:
# Make predictions for test data
y_pred = model.predict(X_test)
# Create and print dataframe with predicted and actual types
pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)

     Prediction Actual
0             Y      Y
1             M      M
2             M      M
3             M      M
4             M      M
5             M      M
6             M      M
7             M      M
8             M      M
9             M      M
10            Z      Z
11            M      M
12            M      M
13            M      M
14            M      M
15            M      M
16           AB     AB
17            M      M
18            M      M
19            M      M
20            Z      M
21            M      M
22            M      M
23            M      M
24            M      M
25            M      M
26            M      M
27            M      M
28            M      M
29            M      M
...         ...    ...
3576          M      M
3577          M      M
3578          M      M
3579          M      M
3580          Y      Y
3581          M      M
3582          M      M
3583          M      M
3584          M      M
3585          M      M
3586          M      M
3587          M      M
3588          M      M
3589          Y      Y
3590          M      M
3591          M      M
3592          M      M
3593          M      M
3594          Z      Z
3595          M      M
3596          M      M
3597          M      M
3598          M      M
3599          M      M
3600          M      M
3601          M      M
3602          M      M
3603          M      M
3604          M      M
3605          Z      M

[3606 rows x 2 columns]

## Report Accuracy

In [9]:
# Evaluate predictions
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 96.84%

## Save the model

In [76]:
# Save this model. (already done)
#filename = 'XGBoost_C_Si.sav'
#joblib.dump(model, filename)

['XGBoost_C_Si.sav']

## Summary:

### XGBoost with carbon and silicon isotopes: 96.8%

In [12]:
# Make predictions for test data
y_pred = model.predict(X_test)
# Create and print dataframe with predicted and actual types
final = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
final['results'] = np.where(final['Prediction']==final['Actual'], 'same', 'different')
report = final.groupby(['Actual', 'Prediction']).count()[['results']]
report

                   results
Actual Prediction
AB     AB              182
       M                 3
       N                 1
C      C                 4
M      AB                2
       M              3004
       U                 1
       X                 1
       Y                 8
       Z                30
N      AB                2
       N                 1
U      C                 1
       M                10
X      M                 2
       X                98
Y      C                 1
       M                 2
       X                 3
       Y               120
Z      AB                4
       M                40
       Y                 3
       Z                83